<nav class="navbar navbar-expand-md navbar-light fixed-top"
     style="background-color: #93208f;border-bottom: solid 1px darkgrey">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-color" style="color: white; text-align: center" routerLink="/product-list"
           routerLinkActive="is-active">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;text-align: center" routerLink="/product-create"
           routerLinkActive="is-active">Create</a>
      </li>
    </ul>
  </div>
</nav>
<div class="header">
  <span class="company-name">Canter Oy</span>
  <span class="product-editor">Product editor</span>
</div>
